{% extends "painel/menuProfessor.html" %}
    {% block Titulo %} Cadastrar Aluno(a) {% endblock %}
    {% block corpo %}
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Cadastrar um(a) Aluno(a)</div>
            <div class="card-body">
                <form action="{% url 'painel:cadastroAluno' %}" method="post" enctype="multipart/form-data">
        	        {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                {{ FormularioCadastro.primNome }}
                            </div>
                            <div class="col-md-6">
                                {{ FormularioCadastro.sobreNome }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{ FormularioCadastro.username }}
                            </div>
                            <div class="col-md-6">
                                {{ FormularioCadastro.email }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{ FormularioCadastro.password }}
                            </div>
                            <div class="col-md-6">
                                {{ FormularioCadastro.repeatPassword }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{ FormularioCadastro.CPF_Pessoa }}
                            </div>
                            <div class="col-md-6">
                                {{ FormularioCadastro.data_nascimento }}
                            </div>
                        </div>
                        {{ FormularioCadastro.Lattes }}
                        <div class="form-row">
                            <div class="col-md-3">
                                Foto de Perfil
                            </div>
                            <div class="col-md-9">
                                <input type="file"  name="my_uploaded_file"/>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
        <br>
    </div>
    {% endblock %}