{%  extends {{template}} %}
    {% block Titulo %} Cadastrar Computador {% endblock %}
    {% block corpo %}
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Cadastrar um Software</div>
            <div class="card-body">
                <form action="{% url 'painel:cadastroSoftware' %}" method="post">
        	        {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            {{ FormularioCadastro}}
                        </div>
                    </div>
                    <div class="form-row">
                    </div>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
        <br>
    </div>
    {% endblock %}