{% extends "painel/base.html" %}
{% block adicionaisProfessor %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
        <span class="nav-link-text">Usuários</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseMulti">
        <li>
            <li><a href="{% url 'painel:listarUsuarios' %}">Listar todos</a></li>
        </li>
        <li>
            <li><a href="{% url 'painel:cadastroProfessor' %}">Cadastrar Professor</a></li>
        </li>
        <li>
                <li><a href="{% url 'painel:cadastroAluno' %}">Cadastrar Aluno</a></li>
        </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#computadores" data-parent="#exampleAccordion">
        <span class="nav-link-text">Computadores</span>
        </a>
        <ul class="sidenav-second-level collapse" id="computadores">
        <li>
            <li><a href="{% url 'painel:listarUsuarios' %}">Listar Máquinas</a></li>
        </li>
        <li>
            <li><a href="{% url 'painel:cadastroProfessor' %}">Cadastrar Máquina</a></li>
        </li>
        <li>
            <li><a href="{% url 'painel:cadastroAluno' %}">Listar Softwares</a></li>
        </li>
        <li>
            <li><a href="{% url 'painel:cadastroAluno' %}">Cadastrar Softwares</a></li>
        </li>
        </ul>
    </li>
{% endblock %}