{% extends "painel/base.html" %}
{% block adicionaisProfessor %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Usuários">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-group"></i>
            <span class="nav-link-text">Usuários</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseMulti">
        <li>
            <li><a href="{% url 'painel:listarUsuarios' %}"><i class="fa fa-list"></i> Listar todos</a></li>
        </li>
        <li>
            <li>
               
                <a href="{% url 'painel:cadastroProfessor' %}"> <i class=" fa fa-user-plus"></i> Cadastrar Professor</a></li>
        </li>
        <li>
            <li>
                
                <a href="{% url 'painel:cadastroAluno' %}"><i class=" fa fa-user-plus"></i> Cadastrar Aluno</a></li>
        </li>
        </ul>
    </li>
{% endblock %}
